---
import Card from "../components/Card.astro";
import HeaderGradient from "../layouts/HeaderGradient.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts").then((posts) =>
  posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
);
---

<Layout title="Home">
  <main class="xl:p-10 p-5 text-gray-900">
    <HeaderGradient>
      <div class="py-28">
        <h1 class="text-center lg:text-6xl md:text-4xl text-2xl">
          Welcome to my Portfolio!
        </h1>
        <h2
          class="dark:text-gray-300 text-gray-500 text-center lg:text-2xl sm:text-xl text-lg mt-3 max-w-xs md:max-w-none mx-auto md:mx-0"
        >
          This was made for my Grade 9 Exploring technology class.
        </h2>
      </div>
    </HeaderGradient>

    <h2 class="dark:text-gray-300 text-center text-4xl mt-16 mb-12 font-bold">
      Projects
    </h2>

    <div class="grid xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3">
      {
        posts.map((post) => (
          <Card
            date={post.data.date.toISOString().slice(0, 10)}
            thumbnail={post.data.thumbnail}
            title={post.data.title}
            url={`/posts/${post.slug}`}
          />
        ))
      }
    </div>
  </main>
</Layout>
