---
interface Props {
  title: string;
  url: string;
  thumbnail: string;
  date: string;
}

const { title, url, thumbnail, date } = Astro.props;
---

<a href={url}>
  <div
    class="dark:bg-[#1B1B1B] bg-green-200 overflow-hidden dark:border-neutral-800 rounded-2xl dark:text-white bg-clip-padding h-full shadow-lg"
  >
    <img src={thumbnail} alt="Thumbnail" class="object-cover h-64 w-full">
    <div class="p-5 font-bold flex text-gray-900 dark:text-neutral-200">
      <div class="text-lg">{ title }</div>
      <div class="ml-auto font-normal dark:text-neutral-500 text-gray-700">{ date }</div>
    </div>
  </div>
</a>
